@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

* {
    --blue: #1A5276;
    --grey: #e6ebee;
  }

body {
    display: grid;
    place-content: center;
    font-family: 'Zen Antique Soft', serif;
    background: linear-gradient(90deg, #1A5276, pink);
}

.newBookButton {
    border-radius: 50%;
    height: 275px;
    width: 275px;
    color: #D5DBDB;
    background-color: #1A5276;
    font-size: 3rem;
    border: double 10px #D5DBDB;
    transition: all 0.5s ease-out;
}

.newBookButton:hover {
    border: double 10px pink;
}

.newBookButton:active {
    transform: translate(2px, 2px);
}

h1 {
    display: grid;
    place-content: center;
    margin-top: 25vh;
    margin-bottom: 5vh;
    background-color: pink;
    border-radius: 10px;
    border: solid 2px #D5DBDB;
    padding: 5px;
}

.popUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background: white;
    padding: 10px;
    border-radius: 6px;
    border: solid 3px pink;
    color: #1A5276;
    background-color: #f6f9fa;
    width: 250px;
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 1;
    transition: transform 1s, top 1s, left 1s;
}

h4 {
    margin-top: 0px;
}

input {
    margin-bottom: 20px;
    width: 225px;
    background-color: #e6ebee;
    border: solid 1px pink;
    height: 20px;
}

input:focus {
    outline: none;
    background-color: white;
}

input:hover {
    background-color: white;
}

.openPopUp {
    visibility: visible;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%) scale(1);
}

.blur {
    filter: blur(5px);   
}

.moveContainer {
    position: absolute;
    top: 15%;
    left: 12%;
    transform: translate(-50%, -50%) scale(0.7);
    transition-duration: 1s;
}

#containerCards {
    display: flex;
    flex-wrap: wrap;
}

.changePosition {
    margin-top: 15vh;
    margin-left: 20vw;
    transition-duration: 1s;
    height: 40vh;
}

.bookCard {
    background-image: url('books.jpg');
    background-size: 500px;
    color: white;
    width: 250px;
    font-size: 1.4rem;
    border-radius: 5%;
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divClose {
    position: relative;
    left: 43%;
    bottom:  4%;
    cursor: pointer;
}

.bookCard > div{
    width: 220px;
    display: grid;
    place-content: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0, 0.5);
}

.read {
    width: 50px;
    height: 30px;
    accent-color: green;
}


#submitBook {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Zen Antique Soft', serif;
    font-size: 1.2rem;
    font-weight: lighter;
    border: solid 1px var(--blue);
    color: var(--blue);
    background-color: white;
}

#submitBook:disabled {
    color: #e6ebee;
    border: solid 1px var(--grey);
}

.bookNotRead {
    border: none
}

.bookRead {
    border: solid 3px green;
}